<%- include ('layout/header.ejs'); -%>

    <div class="container">
        <h1>Home</h1>

        <div id="renderProduct">
            <div class="select-grupe">
                <select name="sortProduct" id="productSelectBy">
                    <option value="all">Все товары</option>
                    <option value="priceLow">Цена по убыванию</option>
                    <option value="priceHigh">Цена по возрастанию</option>
                    <option value="newProduct">Новинки</option>
                    <option value="promotions">Акционные</option>
                </select>
                <select name="categoriSelect" id="categoriSelect">
                    <option value="">Выберите категорию</option>
                    
                </select>
            </div>
            
            <div id="productList">

                
                
                
            </div>
            
        </div>
        
        
        
        
        
    </div>
    
    <!-- how to style discount
        <div class="price discount"><span>$17.00</span> $13.60</div> 
    .price span{color: #333;
        text-decoration: line-through;
        margin-right: 3px;
    }
    discount{ color: #e74c3c;; }
    -->

    <%- include ('layout/footer.ejs'); -%>