@import "../common/varMixin.scss";
@import "../common/vars.scss";
@import "../common/common.scss";

#productList{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        align-items: stretch;

        .product-card {
                        border: 1px solid rgba(0, 0, 0, .07);
                        margin:  1em;
                        padding: 10px;
                        box-sizing: border-box;
                        padding: 10px;
                        background: #fff;
                        width: 22%;
                        border-radius: 4px;
                        overflow: auto;



                        figure { 
                                padding: 10px;
                                
                        .product-img {
                                width: 100%;
                                height: 30vh;

                        }
                        a {
                                text-decoration: none;

                                h2 {
                                        @include adaptiv-font(20, 16);
                                        text-align: center;
                                }
                        }

                        .cost {
                                text-align: center;
                                .price {
                                }
                                .total-price {
                                }
                        }
                                .cart {
                                        display: flex;
                                        justify-content: space-around;
                                        margin: 10px 10px 10px 0;
                                        padding: 25px 0;
                                       
                                               
.number {
        text-align: center;
	width: 200px;
	margin: 0 auto;
	padding: 20px 0;
	// display: inline-block;
	 position: relative;
	// width: 100px;

        .number-minus {
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                width: 20px;
                padding: 0;
                display: block;
                text-align: center;
                border: none;
                border-right: 1px solid #ddd;
                font-size: 16px;
                font-weight: 600;
        }

         input {
                display: block;
                height: 32px;
                line-height: 32px;
                width: 100%;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                text-align: center;

        }
        .number-plus {
                position: absolute;
                top: 1px;
                right: 1px;
                bottom: 1px;
                width: 20px;
                padding: 0;
                display: block;
                text-align: center;
                border: none;
                border-left: 1px solid #ddd;
                font-size: 16px;
                font-weight: 600;
        }
       
}

                                                button {
                                                        background-color: #e95252;
                                                        border: none;
                                                        color: white;
                                                        padding: 10px;
                                                        text-decoration: none;
                                                        margin: 4px 2px;
                                                        cursor: pointer;
                                                } 
                                        
                                }
                                        }
                                }
}