<%- include ('layout/header.ejs'); -%>
        <div class="main">
                <div class="container">
                        <div>
                                <h1>Оплата и доставка</h1>
                                <h2>Как получить товар?</h2>
                                <p>
                                        Интернет-магазин осуществляет доставку товаров курьерскими службами по всей
                                        Украине.
                                </p>
                                <h2>Способы отправки продукции:</h2>
                                <ul>
                                        <li>Новая почта</li>
                                        <li>Укрпочта</li>
                                        <li>Интайм</li>
                                </ul>
                                <p>
                                        Заказы отправляются в течение 1-2 дней с момента получения платежа. Мы стремимся
                                        обрабатывать все заявки максимально быстро и эффективно, поэтому заказы,
                                        сделанные до 13:00, как правило, отправляются в тот же день.
                                </p>
                                <p>
                                        Если есть какие-либо изменения в расчетных сроках доставки, то клиент будет
                                        проинформирован об этом по номеру телефону, который указывается при оформлении
                                        заказа.
                                </p>

                                <p>
                                        Для каждого заказа может быть разрешен только один адрес доставки. Несколько
                                        адресов должны быть размещены в отдельных онлайн-заявках.
                                </p>
                                <p>
                                        Мы будем заботиться о том, чтобы все товары были доставлены в отличном
                                        состоянии. Поскольку многие из наших шоколадных и кондитерских изделий могут
                                        пострадать от жары, то мы рекомендуем распаковывать посылку, когда Вы будете в
                                        прохладном месте. Веб-сайт Konfet.Net не несет ответственности за ущерб,
                                        вызванный погодой.
                                </p>
                                <p>
                                        Мы предлагаем БЕСПЛАТНУЮ ДОСТАВКУ для всех покупок на сумму свыше 5000 грн.
                                </p>

                                <h2>Как оплатить?</h2>
                                <p>Все цены на сайте указаны в гривнах (UAH). Платежи принимается только
                                        в
                                        национальной валюте Украины.</p>
                                <h2>При совершении покупок принимаются следующие способы оплаты:</h2>
                                <ul>
                                        <li>наложенный платеж через курьерские службы Новая почта, Укрпочта, Интайм;
                                        </li>
                                        <li>безналичная оплата через Приват24;</li>
                                        <li> наличными курьеру при получении продукции (только для Харькова).</li>
                                </ul>
                                <p> Если в этом списке отсутствует удобный для Вас способ оплаты, свяжитесь с нашими
                                        менеджерами и сообщите об этом. Мы постараемся сделать так, чтобы данный способ
                                        оплаты
                                        появился на нашем сайте.</p>
                        </div>
                </div>
        </div>



















        <%- include ('layout/footer.ejs'); -%>