<footer>

    <div class="container">
        <p class="copyright">&reg; 2021 Front End Pro&#153;</p>
        <div class="design">
            <p class="contacts-item">Design by </p>
            <p class="contacts-item">Dev by </p>
        </div>
    </div>

    <a class="to-top" href="#top"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            enable-background="new 0 0 32 32" id="Слой_1" version="1.1" viewBox="0 0 32 32" width="50px" height="50px"
            xml:space="preserve">
            <g id="Arrow_Dotted_Right">
                <path clip-rule="evenodd" d="M8.594,8.885C8.228,8.738,8.728,8.941,8.594,8.885L8.594,8.885z"
                    fill="#121313" fill-rule="evenodd" />
                <path clip-rule="evenodd"
                    d="M15.307,0.263L8.279,7.251C7.761,7.745,7.935,8.62,8.594,8.885   C8.728,8.941,8.87,8.964,9.013,8.96l13.98,0c0.887,0.024,1.38-1.07,0.742-1.702l-6.999-6.996   C16.35-0.119,15.693-0.119,15.307,0.263z M20.583,6.976h-9.118l4.556-4.595L20.583,6.976z"
                    fill="#121313" fill-rule="evenodd" />
                <path clip-rule="evenodd"
                    d="M13.024,12.976c0,1.657,1.343,3,3,3s3-1.343,3-3   c0-1.657-1.343-3-3-3S13.024,11.319,13.024,12.976z M17.024,12.976c0,0.552-0.448,1-1,1s-1-0.448-1-1s0.448-1,1-1   S17.024,12.424,17.024,12.976z"
                    fill="#121313" fill-rule="evenodd" />
                <path clip-rule="evenodd"
                    d="M13.024,20.976c0,1.657,1.343,3,3,3s3-1.343,3-3   c0-1.657-1.343-3-3-3S13.024,19.319,13.024,20.976z M17.024,20.976c0,0.552-0.448,1-1,1s-1-0.448-1-1s0.448-1,1-1   S17.024,20.424,17.024,20.976z"
                    fill="#121313" fill-rule="evenodd" />
                <path clip-rule="evenodd"
                    d="M13.024,28.976c0,1.657,1.343,3,3,3s3-1.343,3-3   c0-1.657-1.343-3-3-3S13.024,27.319,13.024,28.976z M17.024,28.976c0,0.552-0.448,1-1,1s-1-0.448-1-1s0.448-1,1-1   S17.024,28.424,17.024,28.976z"
                    fill="#121313" fill-rule="evenodd" />
            </g>
        </svg></a>


</footer>


<div id="popup_log" class="popup popup__log">
    <div class="popup__body">
        <div class="popup__content">
            <div class="decor" action="#" method="post">
                <a href="#" class="popup__close close-popup">X</a>
                <h3>Войти</h3>
                <form name="userLogin" class="form-inner">
                    <div class="container">
                        <input type="text" placeholder="Логин или e-mail" name="uname" required>
                        <input type="password" placeholder="Пароль" name="password" required>
                        <label class="remember">
                            <input type="checkbox" checked="checked" name="remember"> Запомнить пароль
                        </label>
                    </div>

                    <div class="btn close-popup">
                        <a class="btn border-button" href="#">Войти</a>
                    </div>
                    <a href="#popup_relog" class="popup-link"> <span class="psw close-popup">Забыли
                            пароль?</span>
                    </a>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="popup_reg" class="popup popup__reg">
    <div class="popup__body">
        <div class="popup__content">
            <div class="decor" action="#" method="post">
                <a href="#" class="popup__close close-popup">X</a>
                <form name="userForm" class="form-inner">
                    <h3>Регистрация</h3>
                    <label>Имя*
                        <input placeholder="Имя" name="username" type="text" value="" required />
                    </label>
                    <label>Фамилия*
                        <input placeholder="Фамилия" name="usersurname" type="text" value="" required />
                    </label>
                    <label>Пароль*
                        <input type="password" name="userpas" placeholder="password" value="" required />
                    </label>
                    <label>Телефон*
                        <input name="userphone" type="tel" value="" required />
                    </label>
                    <label>E-mail*
                        <input type="email" name="email" placeholder="E-mail" value="" required />
                    </label>
                    <div class="btn close-popup">
                        <a class="btn border-button" href="#">Регистрация</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="popup_relog" class="popup popup__relog">
    <div class="popup__body">
        <div class="popup__content">
            <div class="decor" action="#" method="post">
                <a href="#" class="popup__close close-popup">X</a>
                <h3>Востановление пароля</h3>
                <form name="newPsw" class="form-inner">
                    <input type="text" placeholder="Имя Фамилия" required>
                    <input name="userphone" placeholder="380XXXXXXXXX" type="tel" required autocomplete="tel">
                    <div class="btn close-popup">
                        <a class="btn border-button" href="#">Отправить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Clouse body.wrapper -->
</div>
<!-- ----- -->

<script src="/javascripts/utils.js"></script>
<script src="/javascripts/CandyShop.js"></script>
<script src="/javascripts/popup.js"></script>
<script src="/javascripts/sendCartData.js"></script>
<!-- <script type="module" src="/javascripts/registration.js"></script> -->


</body>

</html>