
    <div class="container">
        <h1>Home</h1>
        <div class="slider">
            <div class="slider-line">
                <img src="https://vchaspik.ua/sites/default/files/styles/600x/public/story/u12449/0_118.jpg?itok=Hq60azmR"
                    alt="">

            </div>
        </div>
        <button class="slider-prev">Prev</button>
        <button class="slider-next">Next</button>


        <div id="renderProduct">
            <div class="select-grupe">
                <select name="sortProduct" id="productSelectBy">
                    <option value="all">Все товары</option>
                    <option value="priceLow">Цена по убыванию</option>
                    <option value="priceHigh">Цена по возрастанию</option>
                    <option value="newProduct">Новинки</option>
                    <option value="promotions">Акционные</option>
                </select>
                <select name="categoriSelect" id="categoriSelect">
                    <option value="">Выберите категорию</option>

                </select>
            </div>