<%- include ('layout/header.ejs'); -%>






<div  class="all-product-container">
    <h1 class="all-product__title"><%= title %></h1>

    <ul class="all-product__list">
        <% products.forEach(function(product){ %>
          <li class="product-item">
            <b>
              <%= product.name %>
            </b>
            <br>
            <%= product.info %>
          </li>
          <br>
          <% }); %>
      </ul>


</div>





</body>



<%- include ('layout/footer.ejs'); -%>
</html>