
$max-width: 1280px;
$maxWidth: 1280;

$topColorBgd: rgba(51, 51, 51, 0.6);
$topColorText:  #E9EFFF;
$topHover:#5982E7;
$centerText:#495274;
$centerHover: #ff2d2d;
$svgColor: #ff3000;
$bodyBgd: beige;
$buttonBgd: #7BA7AB;
$inputColor: #495274;

