<footer>

        <div class="copyright">
          <div class="container">
            <div class="copy flex">
              <p class="copyright">&reg; 2021 Front End Pro&#153;</p>
              <div class="design flex">
                <p class="des">
                  <a class="contacts-item" href="#">Design by </a>
                </p>
                <p class="dev">
                  <a class="contacts-item" href="#">Dev by </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    
    
      <!-- <script src="../application.js"></script> -->
    
    </body>
    
    </html>