@import "./vars";
@import "./varMixin.scss";

.container {

    max-width: $max-width;
    margin: 0px auto;
    padding: 15px;
    
}



body.lock .slider__item  {
  position: inherit !important;
}

// .wrapper {
//   background: url(../../images/fon-bg1.jpg) center no-repeat fixed;
//   background-size: cover;
// }

.up-reg {
  text-transform: uppercase;
 

}

.up-bold {
  text-transform: uppercase;
  font-weight: bold;
 
}

.all-text {
  @include  adaptiv-font(18, 12);
  color: #3b3b3a;
  line-height: 1.25;
  text-align: justify;
  text-indent: 15px;
  padding: 5px;

}

.title__text {
  padding: 5px;
  color: #3b3b3a;

  @include  adaptiv-font(36, 18);
}

.md-text {
  @include  adaptiv-font(26, 16);
  padding: 5px;
  color: #3b3b3a;

  line-height: 1.5;

}

body.lock {
  overflow: hidden;
}



