@import "../common/vars.scss";
@import "../common/common.scss";


// body {
//      
//       }

.header {
        /* position: fixed; */
        min-height: 70px;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        background-image: url(../images/bgr.svg);
        
        &__top{
                width: 100%;
                background-color: $topColorBgd;
                line-height: 24px;
                border-bottom: 1px solid rgba(0, 0, 0, .05);


                .top-wrapper {
                        max-width: $max-width;
                        margin: 0 auto;
                        padding: 10px 5px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-between;
                        height: 40px;
        
                        .left-side {

                                &__list {
                                        display: flex;
                                        
                                        li {
                                                a{

                                                        @include topTextStyle(5px, 0px, 0px, 5px);

                                                }
                                        }
        
                                }
                        }
                        .right-side {
                            &__list {
                                    display: flex;
                    
                                        li { 
                                    a{
                                            @include topTextStyle(5px, 0px, 0px, 5px);
        
                                    }
                    
                                        }
                            }
                          }
                }
        }

        &__center {
                margin: 0 auto;
                padding: 10px 5px;
                box-sizing: border-box;

                .center-wrapper {
                        max-width: $max-width;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        padding: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        // .logo {
                        
                        // }
                        
                        .contact-number {
                                .main-phone {
                                        text-align: center;
                                
                                        span  {
                                        @include centerTextStyle(5px, 0px, 0px, 5px);
                                        }
                                }
                                .additional-phones {

                                        ul {
                                        display: flex;
                                        justify-content: space-between;

                                        li {
                                                padding: 5px;
                                                span {
                                                        @include centerTextStyle(5px, 0px, 0px, 5px);
 

                                                }
                                        }
                                        }
                                }
                        }
                        .serch {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                position: relative;
                                        input {
                                                        z-index: 1;
                                                        border: 1px solid rgba(119, 119, 119, .3);
                                                        box-shadow: none;
                                                        outline: none;
                                                        padding: 10px 10px;
                                                        font-weight: bold;
                                                }
                                                &:hover {
                                                        border: 1px solid;
                                                        border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
                                                        border-image-slice: 1;
                                                        }
                                                &__button {
                                                z-index: 2;
                                                position: absolute;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                right: 10px;
                                                cursor: pointer;
                                                }
                                                
                                
                        }
                        .cart {

                                .cart-btn {
                                        background: none;
                                        position: relative;
                                }
                                .cart-total {
                                        position: absolute;
                                        right: 14px;
                                        bottom: 0px;

                                        margin: 0;

                                        font-size: 2.8em;
                                        font-weight: 600;

                                        text-shadow: none;

                                        color: coral;
                                }
                         } 
                }
        }

        &__botton{
                background-color:rgba(51, 51, 51, 0.6) ;

                        .botton-wrapper{
                                max-width: $max-width;
                                margin: 0px auto;
                                padding: 15px;
                
                                .catalog {

                        // &__icon {
                        // // span {
                        // // }
                        // }
                        &__item {
                                display: flex;
                                justify-content: space-between;

                                .border-button {
                                        text-decoration: none;
                                        color: white;
                                        display: inline-block;
                                        position: relative;
                                        padding: 15px 30px;
                                        border: 1px solid;
                                        border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
                                        border-image-slice: 1;
                                        margin: 10px 20px;
                                        font-family: 'Montserrat', sans-serif;
                                        text-transform: uppercase;
                                        overflow: hidden;
                                        letter-spacing: 2px;
                                        transition: .8s cubic-bezier(.165, .84, .44, 1);
                                    }
                                    .border-button:hover {
                                        background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
                                        color: #fff;
                                    }
                        
                                    .border-button:before {
                                        content: "";
                                        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
                                        height: 63px;
                                        width: 50px;
                                        position: absolute;
                                        top: 0px;
                                        left: -75px;
                                        transform: skewX(-45deg);
                                    }
                                    
                                    
                                    .border-button:hover:before {
                                        left: 345px;
                                        transition: .6s ease-in-out;
                                    }
                                
                        }
                }
        }

        }
}


  